@import "tailwindcss";

@theme {
  --color-green-100: #E4EDE3;
  --color-green-500: #47A138;
  --color-cyan-900: #004D61;
  --color-orange-500: #FF5031;
  --color-gray-300: #CBCBCB;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-green-100);
  color: var(--color-foreground);
  font-family: Inter, sans-serif;
}
